/**
 * @file {{ source_file }}
 * @author Janus Bo Andersen
 * @brief Implementation of {{ component_longname_clear_text }}
 * @version 1.0
 * @date {{ make_date }}
 * 
 * @copyright Copyright (c) {{ make_year }}
 * 
 */

#include <iostream>
#include <{{ include_header }}>

namespace {{ component_namespace }} {

Solution::ReturnValueType Solution::renameMe(Solution::InputValueType& nums)
{
    std::cout << nums.at(0) << std::endl;
    return false;
}

} // namespace {{ component_namespace }}
